@font-face {
    font-family: Arial, Helvetica, sans-serif 'Times New Roman', Times, serif, sans-serif;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf), url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
}

.about_page {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif 'Times New Roman', Times, serif, sans-serif;
    font-size: 26px;
    text-align: justify;
    line-height: 1.20;
    margin-bottom: 30px;
}

.profile_about {
    max-width: 340px;
    float: left;
    margin: 5px;
    border: solid black;
    margin-right: 50px;
}

.h1_about {
    font-weight: 600;
    line-height: 1.5;
    text-transform: 1.s;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}